* {
    margin: 0;
    padding: 0;
}

body {
    color: black;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.container {
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.wrap {
    min-width: 320px;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

